{%extends 'MainApp/base3.html'%}
{%block title%}
Поиск по номеру
{% endblock %}

{%block content%}
    <form class = "form-control my-3" action="{% url 'SearchResult' %}" method="get">
        {% csrf_token %}
        <div class="container align-items-center justify-content-center d-flex flex-column w-100">

        <span class="container shadow-sm p-2 mb-3 bg-light rounded  justify-content-center lead row text-center fs-6" >
            Введите номер интересующей станции
        </span>

        <div class=" justify-content-center flex-column row  fs-6" style="width: 270px">
            <input type="number" step="any" class="my-sm-1 mw-auto" placeholder="Введите номер станции" min="1" max="166" name="search_num" >
        </div>


        <div class=" justify-content-center d-flex">
            <div class=" justify-content-center flex-column row   my-5">
                <button type="submit" class="btn btn-dark  row justify-content-center mx-auto fs-6"  style="width: 100px;">Поиск</button>
            </div>
        </div>
    </div>
    </form>
{% endblock %}