{%extends 'MainApp/base3.html'%}
{%block title%}
Главная страница
{% endblock %}

{%block content%}
<div class="container ">
<div class="d-flex flex-column justify-content-center w-100 mx-3">

<div class="rounded py-3 mt-3" style="border: solid 1px #DDDDDD" >

    <div class="d-flex flex-column justify-content-center align-items-center">
        <span class="lead px-2"><strong>База данных</strong></span>
        <span style="font-size: 0.8rem; font-style: italic" class="lead px-2">"Научно прикладного справочника по климату СССР"</span>
    </div>
</div>

<div class="container d-flex flex-column justify-content-center align-items-center w-100">
<div class="mt-4 ">
         <span class="shadow-sm p-2 mb-3 bg-light rounded  lead row" style="font-size: 0.9rem">
           <ol>
            <li class="mx-2">
                <ul class="px-1">Приход солнечной радиации (суммарной, прямой, диффузной) на горизонтальную поверхность при средних условиях облачности:
                    <div class="px-4 py-1" style="font-size: 0.8rem">
                    <li>Среднемесячные часовые суммы солнечной радиации</li>
                    <li>Среднемесячные суточные суммы солнечной радиации</li>
                    <li>Месячные суммы солнечной радиации</li>
                    </div>
                </ul>
            </li>
            <li class="mx-2">
                <ul class="px-1">
                Среднемесячные коэффициенты отражательной способности поверхности - альбедо
                </ul>
            </li>
           </ol>
        </span>
</div>
</div>


<div class="container d-flex justify-content-center align-items-center w-100">
<div class="mt-2 ">
         <span class="shadow-sm p-2 mb-3 bg-light rounded  lead row " style="font-size: 0.9rem">
             <div class="px-1 ">
            По наблюдениям 166 метрологических станций на территории России и стран СНГ
             </div>
        </span>
</div>
</div>

<div class="container d-flex  justify-content-center align-items-center w-100">
<div class="mt-2 ">
         <span class="shadow-sm p-2 mb-3 bg-light rounded  lead row" style="font-size: 0.9rem">
             <div class="px-1">
                 Для удобства использования информации по часовым, суточным и месячным данным солнечной радиации предствлены в кВт*ч/м<sup>2</sup>
             </div>
         </span>
</div>
</div>

</div>
</div>
{% endblock %}

