{%extends 'MainApp/base3.html'%}
{%block title%}
Главная страница
{% endblock %}

{%block content%}
<div class="d-flex flex-column justify-content-center w-100">
<div class="d-flex justify-content-center fs-5 mb-3">
  <span>Информация по станции   {% for el in res %}{{el.NameStation}}{% endfor %}</span>
</div>


<div class="table-responsive  mx-3">
  <table class="table table-bordered text-center table-sm " >
  <thead style="font-style: italic; background-color: #f8f9fa">
    <tr style="font-size: 0.8rem">
      <th>Номер станции</th>
      <th>Название станции</th>
      <th>Регион</th>
      <th>Широта</th>
      <th>Долгота</th>
    </tr>
  </thead>
  {% for el in res %}
  <tbody style="font-size: 0.8rem">

  <tr>
    <td>{{el.id}}</td>
    <td>{{el.NameStation}}</td>
    <td>{{el.Region}}</td>
    <td>{{el.Latitude}}</td>
    <td>{{el.Longitude}}</td>
  </tr>

  </tbody>
   {% endfor %}
</table>
</div>


<div class="container">
<div class="d-flex flex-wrap justify-content-end ">
<p class="mb-2 align-content-end text-muted">
  <button class="btn page-link" style="font-size: 0.8rem" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Экспорт csv
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
  <div class="d-flex flex-wrap justify-content-around">
    <a class="dropdown-item text-muted" style="font-size: 0.8rem" href="{% url 'Export_csv' %}">Альбедо</a>
    <a class="dropdown-item text-muted" style="font-size: 0.8rem" href="{% url 'Export_csv_sum_2' %}">Среднемесячные часовые суммы суммарной солнечной радиации</a>
    <a class="dropdown-item text-muted" style="font-size: 0.8rem" href="{% url 'Export_csv_str_2' %}">Среднемесячные часовые суммы прямой солнечной радиации</a>
    <a class="dropdown-item text-muted" style="font-size: 0.8rem" href="{% url 'Export_csv_diff_2' %}">Среднемесячные часовые суммы диффузной солнечной радиации</a>
    <a class="dropdown-item text-muted" style="font-size: 0.8rem" href="{% url 'Export_2' %}">Характерные сутки</a>
  </div>
  </div>
</div>
</div>
</div>





  <div class="container">
    <hr>
  </div>
  <div class="container">
  <ul class="nav justify-content-center mx-3 ">
      <div class="d-flex flex-wrap ">
    <li class="nav-item">
      <a class="nav-link link-dark"  href="#alb">Альбедо</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-dark"  href="#mes">Месячные суммы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-dark"  href="#sut">Суточные суммы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-dark"  href="#hour">Часовые суммы</a>
    </li>
  </div>
  </ul>
  </div>

  <div class="container">
    <hr>
  </div>

<div class="mb-5 mt-3 rounded px-3 mx-3 " style="border: solid 1px #DDDDDD" id="alb">

  <div class="text-center py-sm-4 fw-normal">
  <span class="">Среднемесячные коэффициенты отражательной способности поверхности - Альбедо</span>
  </div>

  <div class="table-responsive ">
    <table class="table table-bordered text-center table-sm " >

    <thead style="font-size: 0.7rem; font-style: italic; background-color: #f8f9fa">
    <tr style="font-size: 0.7rem">
      <td>Янв.</td>
      <td>Фев.</td>
      <td>Март</td>
      <td>Апр.</td>
      <td>Май</td>
      <td>Июнь</td>
      <td>Июль</td>
      <td>Авг.</td>
      <td>Сен.</td>
      <td>Окт.</td>
      <td>Нояб.</td>
      <td>Дек.</td>
    </tr>
  </thead>

    {% for el in albedo %}
  <tbody style="font-size: 0.7rem">

  <tr>
    <td>{{el.Month_1}}</td>
    <td>{{el.Month_2}}</td>
    <td>{{el.Month_3}}</td>
    <td>{{el.Month_4}}</td>
    <td>{{el.Month_5}}</td>
    <td>{{el.Month_6}}</td>
    <td>{{el.Month_7}}</td>
    <td>{{el.Month_8}}</td>
    <td>{{el.Month_9}}</td>
    <td>{{el.Month_10}}</td>
    <td>{{el.Month_11}}</td>
    <td>{{el.Month_12}}</td>
  </tr>

  </tbody>
   {% endfor %}

    </table>
  </div>

</div>


<div class="mb-5  rounded px-3 mx-3 " style="border: solid 1px #DDDDDD" id="mes">
  <div class="text-center py-sm-4 fw-normal">
  <span class=""> Месячные суммы солнечной радиации на горизонтальную площадку</span>
  </div>
  <div class="text-start py-sm-2 " style="font-size: 0.8rem">
  <span class="">Суммарная солнечная радиация: </span>
  </div>

  <div class="table-responsive ">
    <table class="table table-bordered text-center table-sm " >

    <thead style="font-size: 0.7rem; font-style: italic; background-color: #f8f9fa">
    <tr style="font-size: 0.7rem">
      <td>Янв.</td>
      <td>Фев.</td>
      <td>Март</td>
      <td>Апр.</td>
      <td>Май</td>
      <td>Июнь</td>
      <td>Июль</td>
      <td>Авг.</td>
      <td>Сен.</td>
      <td>Окт.</td>
      <td>Нояб.</td>
      <td>Дек.</td>
    </tr>
  </thead>

    {% for el in res_mes_sum %}
  <tbody style="font-size: 0.7rem">

  <tr>
    <td>{{el.Month_1}}</td>
    <td>{{el.Month_2}}</td>
    <td>{{el.Month_3}}</td>
    <td>{{el.Month_4}}</td>
    <td>{{el.Month_5}}</td>
    <td>{{el.Month_6}}</td>
    <td>{{el.Month_7}}</td>
    <td>{{el.Month_8}}</td>
    <td>{{el.Month_9}}</td>
    <td>{{el.Month_10}}</td>
    <td>{{el.Month_11}}</td>
    <td>{{el.Month_12}}</td>
  </tr>

  </tbody>
   {% endfor %}

</table>

  </div>

  <div class="text-start py-sm-2 " style="font-size: 0.8rem">
  <span class="">Прямая солнечная радиация: </span>
  </div>
  <table class="table table-bordered text-center fs-6 table-sm" >
    <thead style="font-size: 0.7rem; font-style: italic; background-color: #f8f9fa">
    <tr style="font-size: 0.7rem">
      <td>Янв.</td>
      <td>Фев.</td>
      <td>Март</td>
      <td>Апр.</td>
      <td>Май</td>
      <td>Июнь</td>
      <td>Июль</td>
      <td>Авг.</td>
      <td>Сен.</td>
      <td>Окт.</td>
      <td>Нояб.</td>
      <td>Дек.</td>
    </tr>
  </thead>
    {% for el in res_mes_straight %}
  <tbody style="font-size: 0.7rem">

  <tr>
    <td>{{el.Month_1}}</td>
    <td>{{el.Month_2}}</td>
    <td>{{el.Month_3}}</td>
    <td>{{el.Month_4}}</td>
    <td>{{el.Month_5}}</td>
    <td>{{el.Month_6}}</td>
    <td>{{el.Month_7}}</td>
    <td>{{el.Month_8}}</td>
    <td>{{el.Month_9}}</td>
    <td>{{el.Month_10}}</td>
    <td>{{el.Month_11}}</td>
    <td>{{el.Month_12}}</td>
  </tr>

  </tbody>
   {% endfor %}

</table>
  <div class="text-start py-sm-2 " style="font-size: 0.8rem">
  <span class="">Диффузная солнечная радиация: </span>
  </div>
  <table class="table table-bordered text-center fs-6 table-sm" >
    <thead style="font-size: 0.7rem; font-style: italic; background-color: #f8f9fa">
    <tr style="font-size: 0.7rem">
      <td>Янв.</td>
      <td>Фев.</td>
      <td>Март</td>
      <td>Апр.</td>
      <td>Май</td>
      <td>Июнь</td>
      <td>Июль</td>
      <td>Авг.</td>
      <td>Сен.</td>
      <td>Окт.</td>
      <td>Нояб.</td>
      <td>Дек.</td>
    </tr>
  </thead>
    {% for el in res_mes_diff %}
  <tbody style="font-size: 0.7rem">

  <tr>
    <td>{{el.Month_1}}</td>
    <td>{{el.Month_2}}</td>
    <td>{{el.Month_3}}</td>
    <td>{{el.Month_4}}</td>
    <td>{{el.Month_5}}</td>
    <td>{{el.Month_6}}</td>
    <td>{{el.Month_7}}</td>
    <td>{{el.Month_8}}</td>
    <td>{{el.Month_9}}</td>
    <td>{{el.Month_10}}</td>
    <td>{{el.Month_11}}</td>
    <td>{{el.Month_12}}</td>
  </tr>

  </tbody>
   {% endfor %}

</table>
</div>


<div class=" rounded px-3 mx-3" style="border: solid 1px #DDDDDD" id="sut">
  <div class="text-center py-sm-4  font-weight-light ">
  <span class=""> Суточные суммы солнечной радиации на горизонтальную площадку</span>
  </div>
    <div class="text-start py-sm-2 " style="font-size: 0.8rem">
  <span class="">Суммарная солнечная радиация: </span>
  </div>
    <table class="table table-bordered text-center fs-6 table-sm">

    <thead style="font-size: 0.7rem; font-style: italic; background-color: #f8f9fa">
    <tr style="font-size: 0.7rem">
      <td>Янв.</td>
      <td>Фев.</td>
      <td>Март</td>
      <td>Апр.</td>
      <td>Май</td>
      <td>Июнь</td>
      <td>Июль</td>
      <td>Авг.</td>
      <td>Сен.</td>
      <td>Окт.</td>
      <td>Нояб.</td>
      <td>Дек.</td>
    </tr>
  </thead>

    {% for el in res_sut_sum %}
  <tbody style="font-size: 0.7rem">

  <tr>
    <td>{{el.Month_1}}</td>
    <td>{{el.Month_2}}</td>
    <td>{{el.Month_3}}</td>
    <td>{{el.Month_4}}</td>
    <td>{{el.Month_5}}</td>
    <td>{{el.Month_6}}</td>
    <td>{{el.Month_7}}</td>
    <td>{{el.Month_8}}</td>
    <td>{{el.Month_9}}</td>
    <td>{{el.Month_10}}</td>
    <td>{{el.Month_11}}</td>
    <td>{{el.Month_12}}</td>
  </tr>

  </tbody>
   {% endfor %}

</table>
  <div class="text-start py-sm-2 " style="font-size: 0.8rem">
  <span class="">Прямая солнечная радиация: </span>
  </div>
  <table class="table table-bordered text-center fs-6 table-sm" >
    <thead style="font-size: 0.7rem; font-style: italic; background-color: #f8f9fa">
    <tr style="font-size: 0.7rem">
      <td>Янв.</td>
      <td>Фев.</td>
      <td>Март</td>
      <td>Апр.</td>
      <td>Май</td>
      <td>Июнь</td>
      <td>Июль</td>
      <td>Авг.</td>
      <td>Сен.</td>
      <td>Окт.</td>
      <td>Нояб.</td>
      <td>Дек.</td>
    </tr>
  </thead>
    {% for el in res_sut_straight %}
  <tbody style="font-size: 0.7rem">

  <tr>
    <td>{{el.Month_1}}</td>
    <td>{{el.Month_2}}</td>
    <td>{{el.Month_3}}</td>
    <td>{{el.Month_4}}</td>
    <td>{{el.Month_5}}</td>
    <td>{{el.Month_6}}</td>
    <td>{{el.Month_7}}</td>
    <td>{{el.Month_8}}</td>
    <td>{{el.Month_9}}</td>
    <td>{{el.Month_10}}</td>
    <td>{{el.Month_11}}</td>
    <td>{{el.Month_12}}</td>
  </tr>

  </tbody>
   {% endfor %}

</table>
  <div class="text-start py-sm-2 " style="font-size: 0.8rem">
  <span class="">Диффузная солнечная радиация: </span>
  </div>
  <table class="table table-bordered text-center fs-6 table-sm" >
    <thead style="font-size: 0.7rem; font-style: italic; background-color: #f8f9fa">
    <tr style="font-size: 0.7rem">
      <td>Янв.</td>
      <td>Фев.</td>
      <td>Март</td>
      <td>Апр.</td>
      <td>Май</td>
      <td>Июнь</td>
      <td>Июль</td>
      <td>Авг.</td>
      <td>Сен.</td>
      <td>Окт.</td>
      <td>Нояб.</td>
      <td>Дек.</td>
    </tr>
  </thead>
    {% for el in res_sut_diff %}
  <tbody style="font-size: 0.7rem">

  <tr>
    <td>{{el.Month_1}}</td>
    <td>{{el.Month_2}}</td>
    <td>{{el.Month_3}}</td>
    <td>{{el.Month_4}}</td>
    <td>{{el.Month_5}}</td>
    <td>{{el.Month_6}}</td>
    <td>{{el.Month_7}}</td>
    <td>{{el.Month_8}}</td>
    <td>{{el.Month_9}}</td>
    <td>{{el.Month_10}}</td>
    <td>{{el.Month_11}}</td>
    <td>{{el.Month_12}}</td>
  </tr>

  </tbody>
   {% endfor %}

</table>
</div>

<div class="my-5 rounded px-3 mx-3 fs-6" style="border: solid 1px #DDDDDD" id="hour">
  <div class="text-center py-sm-4  font-weight-light ">
  <span class=""> Часовые суммы солнечной радиации на горизонтальную площадку</span>
  </div>
    <div class="text-start py-sm-2 " style="font-size: 0.8rem">
  <span class="">Суммарная солнечная радиация: </span>
  </div>
    <table class="table table-bordered text-center  table-hover table-sm fs-6">

    <thead style="font-size: 0.9rem; font-style: italic; background-color: #f8f9fa">
    <tr style="font-size: 0.7rem">
      <td></td>
      <td>Янв.</td>
      <td>Фев.</td>
      <td>Март</td>
      <td>Апр.</td>
      <td>Май</td>
      <td>Июнь</td>
      <td>Июль</td>
      <td>Авг.</td>
      <td>Сен.</td>
      <td>Окт.</td>
      <td>Нояб.</td>
      <td>Дек.</td>
    </tr>
  </thead>


    {% for el in res_hour_sum %}
  <tbody style="font-size: 0.7rem">

  <tr>
    <td style="font-size: 0.7rem; font-style: italic; background-color: #f8f9fa">{{el.IdHour}}</td>
    <td>{{el.Month_1}}</td>
    <td>{{el.Month_2}}</td>
    <td>{{el.Month_3}}</td>
    <td>{{el.Month_4}}</td>
    <td>{{el.Month_5}}</td>
    <td>{{el.Month_6}}</td>
    <td>{{el.Month_7}}</td>
    <td>{{el.Month_8}}</td>
    <td>{{el.Month_9}}</td>
    <td>{{el.Month_10}}</td>
    <td>{{el.Month_11}}</td>
    <td>{{el.Month_12}}</td>
  </tr>

  </tbody>
   {% endfor %}


</table>



  <div class="text-start py-sm-2 " style="font-size: 0.8rem">
  <span class="">Прямая солнечная радиация: </span>
  </div>
  <div class="table-responsive">
  <table class="table table-bordered text-center fs-6 table-hover table-sm" >
    <thead style="font-size: 0.9rem; font-style: italic; background-color: #f8f9fa">
    <tr style="font-size: 0.7rem">
      <td></td>
      <td>Янв.</td>
      <td>Фев.</td>
      <td>Март</td>
      <td>Апр.</td>
      <td>Май</td>
      <td>Июнь</td>
      <td>Июль</td>
      <td>Авг.</td>
      <td>Сен.</td>
      <td>Окт.</td>
      <td>Нояб.</td>
      <td>Дек.</td>
    </tr>
  </thead>
    {% for el in res_hour_straight %}
  <tbody style="font-size: 0.7rem">

  <tr>
    <td style="font-size: 0.7rem; font-style: italic; background-color: #f8f9fa">{{el.IdHour}}</td>
    <td>{{el.Month_1}}</td>
    <td>{{el.Month_2}}</td>
    <td>{{el.Month_3}}</td>
    <td>{{el.Month_4}}</td>
    <td>{{el.Month_5}}</td>
    <td>{{el.Month_6}}</td>
    <td>{{el.Month_7}}</td>
    <td>{{el.Month_8}}</td>
    <td>{{el.Month_9}}</td>
    <td>{{el.Month_10}}</td>
    <td>{{el.Month_11}}</td>
    <td>{{el.Month_12}}</td>
  </tr>

  </tbody>
   {% endfor %}

</table>

  </div>


  <div class="text-start py-sm-2 " style="font-size: 0.8rem">
  <span class="">Диффузная солнечная радиация: </span>
  </div>
  <table class="table table-bordered text-center fs-6 table-hover table-sm " >
    <thead style="font-size: 0.9rem; font-style: italic; background-color:#f8f9fa">
    <tr style="font-size: 0.7rem">
      <td></td>
      <td>Янв.</td>
      <td>Фев.</td>
      <td>Март</td>
      <td>Апр.</td>
      <td>Май</td>
      <td>Июнь</td>
      <td>Июль</td>
      <td>Авг.</td>
      <td>Сен.</td>
      <td>Окт.</td>
      <td>Нояб.</td>
      <td>Дек.</td>
    </tr>
  </thead>
    {% for el in res_hour_diff %}
  <tbody style="font-size: 0.7rem">

  <tr>
    <td style="font-size: 0.7rem; font-style: italic; background-color: #f8f9fa">{{el.IdHour}}</td>
    <td>{{el.Month_1}}</td>
    <td>{{el.Month_2}}</td>
    <td>{{el.Month_3}}</td>
    <td>{{el.Month_4}}</td>
    <td>{{el.Month_5}}</td>
    <td>{{el.Month_6}}</td>
    <td>{{el.Month_7}}</td>
    <td>{{el.Month_8}}</td>
    <td>{{el.Month_9}}</td>
    <td>{{el.Month_10}}</td>
    <td>{{el.Month_11}}</td>
    <td>{{el.Month_12}}</td>
  </tr>

  </tbody>
   {% endfor %}

</table>

</div>
</div>

{% endblock %}


